.robe-navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, .1);
    box-shadow: 0 0 10px rgba(100, 100, 100, .1);
    padding: 15px;
    z-index: 9999;
    top: 0;
}

.robe-navbar-content {
    height: 40px;
    line-height: 40px;
}

.robe-navbar-content a {
    margin-left: 10px;
    font-weight: bold;
    font-size: medium;
    color: #173646;
}

.robe-navbar-content a:hover {
    text-decoration: none;
    cursor: pointer;
}

.robe-navbar-button {
    padding: 4px;
    background: transparent;
    border: 0;
    color: #173646;
    transition: .5s;
    opacity: 1;
    font-size: large
}

.robe-navbar-button:hover {
    opacity: 0.9;
    color: #ffffff;
    background: #b9c2c7;
}