body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #342E2B;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #ffffff;
}

.side-menu {
    height: 100%;
    width: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width .5s;
    z-index: 998;
    float: left;
    border-right: 1px solid #eeeeee;
}

.btn-primary {
    background-color: #153547;
    border-color: #152f3e;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width .5s;
    z-index: 998;
    float: left;
    border-right: 1px solid #eeeeee;
}

.content {
    transition: .5s;
    padding: 5px;
    margin-left: 250px;
    margin-right: 0;
    z-index: 0;
    overflow-y: auto
}

.SideMenu-wrapper {
    width: 249px;
    margin-top: 12px !important;
}

.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0px;
    outline-offset: -2px;
}
